/* General */

body{
    background: -webkit-linear-gradient(#b3d7ff,#ffffff);
    background: -moz-linear-gradient(#b3d7ff,#ffffff);
    background: linear-gradient(#b3d7ff,#ffffff);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.container{
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2){
    .container{
        max-width: 100vw;
        border: 2px solid black;
    }
}
.disable {
    pointer-events: none;
}
.weather-div{
    display: none;
    margin: 25px;
}
.weather-desc{
    text-transform: capitalize;
}
.info{
    width: 400px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -200px;
    z-index: 100;
    animation: rise 1s linear, fadeIn .2s ease-in;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2){
    .info{
        max-width: 100vw;
        padding: 0px 30px;
    }
}

@keyframes rise {
    0%{
        transform: translateY(500px);
        animation-timing-function: ease-out;
    }
    60%{
        transform: translateY(-50px);
        animation-timing-function: ease-in;
    }
    80%{
        transform: translateY(10px);
        animation-timing-function: ease-out;
    }
    100%{
        transform: translateY(0);
        animation-timing-function: ease-in;
    }
}

/* Text */

h1, p{
    text-align: center;
    color: #1a1a1a;
    font-family: 'Teko', sans-serif;
}
#weather-header{
    font-family: 'Teko', sans-serif;
}
p{
    font-size: 20px
}
#weather-header{
    margin: 20px;
}
.city{
    font-size: 28px;
}
#refresh{
    animation: letters 0.5s ease-in both;
}
@keyframes letters {
    from{
        transform: rotateX(90deg);    
    }
    to{
        transform: rotateX(0deg);
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2){
    p,
    .weather-img,
    .date-time,
    #time,
    #date,
    #searchLocation,
    #button,
    .fa-search,
    .weather-desc,
    .temp,
    .humidity{
        transform: scale(2.0);
    }
    #date{
        margin: 50px 0px;

    }
    #welcome{
        transform: scale(2.5);
        margin: 120px 0px;
    }
    #weather-header{
        transform: scale(3.0);
        margin: 60px;
    }
}

/* Weather icon */

.border{
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 50%;
}
.weather-img{
    height: 80px;
    width: 80px;
}
#img-container{
    display: none;
    margin: 25px;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2){
    #img-container{
        margin: 50px;
    }
    .weather-img{
        height: 160px;
        width: 160px;
        margin: auto;
    }
    .border{
        display: none;
    }
}

/* Search bar */

#searchLocation{
    border: none;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    outline: none;
    width: 200px;
    padding: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    background-color: #f2f2f2;
}
#button{
    border: none;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    outline: none;
    width: 50px;
    padding: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    background-color: #ffa64d;
}
#button:hover{
    background-color: #ff8c1a;
    cursor: pointer;
    transition: 0.5s;
}
.fa{
    font-size: 20px;
    color: #ffffff;
}
.search-box{
    display: block;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2){
    .search-box{
        margin-top: 180px;
    }
    #searchLocation{
        width: 260px;
        font-size: 26px;
        padding: 13px;
    }
    #button{
        width: 65px;
        font-size: 26px;
        padding: 13px;
        margin-left: 80px;
    }
}

/* Clock */

#time{
    height: 70px;
    width: 105px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-top: 8px;
    background: -webkit-linear-gradient(#ffffff,#e6e6e6);
    background: -moz-linear-gradient(#ffffff,#e6e6e6);
    background: linear-gradient(#ffffff,#e6e6e6);
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2){
    #time{
        margin-top: 240px;
    }
}

/* Clouds */

.cloud-container{
    display: flex;
}

.clouds{
    width: auto;
    height: 70vh;
    opacity: 0.3;
    display: flex;
    animation: appear 2s linear, drift 60s linear infinite;
}
.clouds2{
    width: auto;
    height: 40vh;
    opacity: 0.3;
    display: flex;
    top: 10;
    animation: appear 2s linear, drift2 75s linear infinite;
}

.disappear{
    display: none;
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 0.3;
    }
}

@keyframes drift {
    from{
        transform: translateX(-35vw);
    }
    to{
        transform: translateX(35vw);
    }
}

@keyframes drift2 {
    from{
        transform: translateX(-35vw);
    }
    to{
        transform: translateX(5vw);
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2){
    .cloud-container{
        display: none;
    }
}